<div class="card mt-2">
  <div class="card-body text-center">
    <b>Código</b>: <small>{{ value }}</small>
    <br>
    <b>Descripcion</b>: <small>{{ desc }}</small>
    <br>
    <b>Categoria</b>: <small>{{ cat }}</small>
  </div>
</div>

<div class="card round mt-2" *ngIf="abrirCamara">
  <div class="card-body">
    <ngx-barcode-scanner 
        [(value)]="value" 
        [codes]="['code_128', 'ean', 'upc', 'upc_e', 'ean_8']" 
        [errorThreshold]="0.1" 
        (valueChange)="buscarProducto()"
        (exception)="onError($event)"></ngx-barcode-scanner>
  </div>
  
</div>
<div class="text-center my-2">
  <button class="btn btn-primary" (click)="toggleCamara()">Mostrar/ocultar camara</button>
</div>




<div>
  <button class="btn btn-danger" (click)="buscar()">buscar</button>
</div>
