<div class="card round mt-2" *ngIf="abrirCamara">
  <div class="card-body">
    <ngx-barcode-scanner 
        [(value)]="value" 
        [codes]="['code_128', 'ean', 'upc', 'upc_e', 'ean_8']" 
        [errorThreshold]="0.1" 
        (valueChange)="buscarProducto($event)"
        (exception)="onError($event)"></ngx-barcode-scanner>
  </div>
  
</div>
<div class="text-center my-2">
  <button class="btn btn-primary" (click)="toggleCamara()">Mostrar/ocultar camara</button>
</div>


<div class="card">
  <div class="card-body text-center">
    <p>Contenido QR</p>
    <hr>
    VALUE: <small>{{ value }}</small>
    <br>
    CHANGE: <small>{{ change }}</small>
  </div>
</div>
